/* body {
    padding-top: 5rem;
} */

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

#cal-heatmap .subdomain-text {
    font-size: 10px
}

#cal-heatmap .graph-label {
    font-size: 15px;
}